{{ partial "head.html" . }}

<body>
<div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer content">
      <article class="article article-type-post" itemscope itemprop="blogPost">
          <div class="article-inner">
              <!-- {{ if .Title }} -->
              <!-- <header class="article-header"> -->
              <!--     <h1 class="article-title" itemprop="name">{{ .Title }}</h1> -->
              <!-- </header> -->
              <!-- {{ end }} -->

              <div class="article-entry" itemprop="articleBody">
                  {{ .Content }}
              </div>
          </div>
      </article>
    </section>
    {{ partial "footer.html" . }}
</div>
</body>
</html>
