{{ partial "head.html" . }}

<body>
<div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer content">
      <article class="article article-type-post" itemscope itemprop="blogPost">
          <div class="article-inner">
              <style>
              .article-entry h1 {
                  margin-top: 0px;
              }
              </style>
              <div class="article-entry" itemprop="articleBody">
                  {{ .Content }}
              </div>
          </div>
      </article>
    </section>
    {{ partial "footer.html" . }}
</div>
</body>
</html>
