<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner footertext">
            {{- if .Site.Params.runTime.enabled -}}
            Сайт работает c <b>{{ time.Format "02.01.06" .Site.Params.runTime.startTime }}</b> до последнего посетителя
            {{- else -}}
            Сайт работает до последнего посетителя
            {{- end -}}
        </div>
    </div>

    <script type="text/javascript">
        window.__theme = {
            linkToPage: "{{- .Permalink -}}"
        }
    </script>
    
    <script>
        document.getElementById('main-nav-toggle').addEventListener('click', function() {
          var header = document.getElementById('header');
          if (header.classList.contains('mobile-on')) {
            header.classList.remove('mobile-on');
          } else {
            header.classList.add('mobile-on');
          }
        });
    </script>
</footer>
