<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner footertext">
            {{- if .Site.Params.runTime.enabled -}}
            <span id="run-time">
                up
                <b id="run-time-d">0</b>
                days
                <b id="run-time-h">0</b>
                h
            </span>
            {{- end -}}

            {{ $telegram_url := index .Site.Params.social "telegram" }}
            
            {{- if and (.Site.Params.runTime.enabled) ($telegram_url) -}}
                <span> | </span>
            {{- end -}}

            {{- if $telegram_url -}}
                <span>FOLLOW ME ON <a href="{{ $telegram_url }}" target="_blank" class="footerlink">TELEGRAM</a></span>
            {{- end -}}
        </div>
    </div>

    <script type="text/javascript">
        window.__theme = {
            {{- if .Site.Params.runTime.enabled -}}
            startTime: "{{- .Site.Params.runTime.startTime -}}"
            {{- end -}}
        }
    </script>
    
    <script src='{{ "js/uptime.js" | absURL }}'></script>
    
    <script>
        document.getElementById('main-nav-toggle').addEventListener('click', function() {
          var header = document.getElementById('header');
          if (header.classList.contains('mobile-on')) {
            header.classList.remove('mobile-on');
          } else {
            header.classList.add('mobile-on');
          }
        });
    </script>
</footer>
